<%# @encoding: UTF-8 %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title> Slyp.io | Daily Digest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="text/html;charset=utf-8" http-equiv="content-type">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

    <style type="text/css">
        @charset "utf-8";
        /* CSS Document */

        @media screen and (max-width: 768px) and (min-width: 381px) {
            body {
                margin: 0 auto !important;
                width: 600px !important;
            }
            .wrapper_table {
                width: 600px !important;
                margin: 0 auto;
                text-align: center;
            }
            .padding {
                width: 20px !important;
            }
            .content {
                width: 600px !important;
            }
            .content_row {
                width: 560px !important;
            }
            .one_third {
                width: 170px !important;
                margin-bottom: 30px;
            }
            .one_third1 {
                width: 167px !important;
                margin-bottom: 30px;
            }
            .one_half {
                width: 270px !important;
            }
            .one_half1 {
                width: 270px !important;
            }
            .one_half1 img {
                width: 270px !important;
                height: auto !important;
            }
            .one_half_full {
                width: 300px !important;
            }
            .one_half_full img {
                max-width: 300px !important;
                height: auto !important;
            }
            .one_half_full img.tabimg {
                max-width: 150px !important;
                height: auto !important;
            }
            .content_row img {
                max-width: 560px;
                height: auto !important;
            }
        }
        
        @media screen and (max-width: 381px) {
            body {
                margin: 0 auto !important;
                width: 320px !important;
            }
            table[class="wrapper_table"] {
                width: 320px !important;
            }
            td[class="padding"] {
                width: 10px !important;
            }
            td[class="content"] {
                width: 320px !important;
            }
            td[class="content_row"] {
                width: 300px !important;
            }
            img[class="laptop"] {
                width: 300px !important;
                height: auto;
                margin: 0 auto !important;
            }
            img[class="client"] {
                width: 55px !important;
                height: auto;
                margin: 0 auto !important;
            }
            table[class="mobile_centered_table"] {
                margin: 0 auto !important;
                text-align: center !important;
            }
            td[class="one_third"] {
                display: block;
                width: 300px !important;
                margin-bottom: 30px;
                float: left;
                text-align: center !important;
            }
            td[class="one_third"] img {
                margin: 0 auto;
                max-width: 300px !important;
                height: auto !important;
            }
            td[class="one_third1"] {
                display: block;
                width: 300px !important;
                margin-bottom: 30px;
                float: left;
                text-align: center !important;
            }
            td[class="one_third1"] img {
                margin: 0 auto;
                max-width: 300px !important;
                height: auto !important;
            }
            td[class="one_third"] td[class="noresize"] {
                margin: 0 auto;
            }
            td[class="one_third_spacer"] {
                display: none;
            }
            td[class="one_half"] {
                width: 300px !important;
                display: block;
                margin-bottom: 20px;
                text-align: center;
            }
            td[class="one_half1"] {
                width: 300px !important;
                display: block;
                margin-bottom: 20px;
                text-align: center;
            }
            td[class="one_half_full"] {
                width: 320px !important;
                display: block;
            }
            td[class="one_half_full"] img {
                max-width: 320px !important;
                height: auto !important;
            }
            td[class="one_half_full"] img.tabimg {
                max-width: 160px !important;
                height: auto !important;
            }
            td[class="one_half"] img {
                margin: 0 auto;
                max-width: 300px !important;
                height: auto !important;
            }
            td[class="one_half1"] img {
                margin: 0 auto;
                max-width: 300px !important;
                height: auto !important;
            }
        }
        
        @media screen and (max-width: 381px) {
            td[class="nomobile"] {
                display: none !important;
            }
            td[class="section_h"] {
                height: 25px !important;
            }
            table[id="bg1"] {
                background-size: 220% 500px!important;
            }
            table[id="bg2"] {
                background-size: 300% 350px!important;
            }
            table[id="bg4"] {
                background-size: 200% 250px!important;
            }
            table[id="bg3"] {
                background-size: 150% 600px!important;
            }
            table[id="bg5"] {
                background-size: 300% 470px!important;
            }
            td[class="one_half_nomargins"] {
                width: 320px !important;
                float: left;
            }
            td[class="one_half_nomargins"] img {
                max-width: 320px !important;
                height: auto !important;
            }
        }
        
        @media screen and (max-width: 768px) and (min-width: 381px) {
            .tabtxt {
                font-size: 10px !important;
            }
            .tabtxt1 {
                font-size: 15px !important;
            }
            .buttontab {
                width: 100px !important;
            }
            .section_h {
                height: 30px !important
            }
            #bg2 {
                background-size: 100% 300px !important;
            }
            #bg3 {
                background-size: 120% 350px !important;
            }
            #bg4 {
                background-size: 120% 350px !important;
            }
            #bg1 {
                background-size: 100% 380px !important;
            }
            .padding_phone {
                display: none;
            }
            .one_half_nomargins {
                width: 300px !important;
            }
            .one_half_nomargins img {
                max-width: 300px !important;
            }
            .one_third1 img {
                width: 170px !important;
                height: auto !important;
            }
        }
    </style>

</head>

<body style="background-color: #ffffff; margin: 0 auto; width: 800px;">

    <!--blog-->
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" width="800px" bgcolor="#f9f9f9" style="max-width: 800px;">
        <tbody>
            <tr>
                <td class="section_h" height="70"></td>
            </tr>
        </tbody>
    </table>


    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 800px; max-width: 800px; background-color: rgb(249, 249, 249);">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td class="content">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="padding" style="width: 20px;">
                                                </td>

                                                <td class="content_row" align="center" style="width: 760px;">
                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="dark_heading" data-editable="" align="center" style="color:#505050; font-weight: 700; font-size: 22px; font-family: 'Montserrat', sans-serif; text-transform: uppercase; line-height: 22px;">
                                                                    Daily Digest
                                                                </td>

                                                                <td align="center" width="20"></td>

                                                                <td align="center" class="bg_primary" width="1" height="16" bgcolor="#fe415d"></td>

                                                                <td align="center" width="20"></td>

                                                                <td class="dark_text" data-editable="" align="center" style="color:#3b3f40; font-weight: 400; font-size: 12px; font-family: 'Montserrat', sans-serif; text-transform: none; line-height: 22px;" valign="middle">
                                                                    Today's slyps
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                                <td class="padding" style="width: 20px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" width="800px" bgcolor="#f9f9f9" style="max-width: 800px;">
        <tbody>
            <tr>
                <td class="section_h" height="60"></td>
            </tr>
        </tbody>
    </table>

<% @slyps.each do |item| %>

    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" width="800px" bgcolor="#f9f9f9" style="max-width: 800px;">
        <tbody>
            <tr>
                <td class="section_h" height="30"></td>
            </tr>
        </tbody>
    </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 800px; max-width: 800px; background-color: rgb(249, 249, 249);">
        <tbody>

        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="content">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td class="padding" style="width: 20px;">
                                            </td>

                                            <td class="content_row" align="center" style="width: 760px;">
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="one_half" width="370" valign="top">
                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="mobile_centered_table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="dark_heading" data-editable="" align="center" style="color:#393939; font-weight: 700; font-size: 18px; font-family: 'Montserrat', sans-serif; text-transform: uppercase; line-height: 18px; text-align: left;">
                                                                                <%= item.title %>
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td height="15"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td class="red_heading" data-editable="" align="center" style="color:#fe415d; font-weight: 400; font-size: 13px; font-family: 'Lato', sans-serif; text-transform: none; line-height: 13px; text-align: left; font-style: italic;">
                                                                                <%= item.date %>
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td height="15"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td class="dark_text" data-editable="" align="center" style="color:#686868; font-weight: 400; font-size: 13px; font-family: 'Lato', sans-serif; text-transform: none; line-height: 25px; text-align: left;">
                                                                                <%= item.description %>
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td height="25"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td align="left">
                                                                                <table cellpadding="0" cellspacing="0" border="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="button" data-editable="" height="40" width="132" bgcolor="#fe415d" style="font-family: 'Montserrat', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: 700; text-transform: uppercase; border-radius: 20px;">
                                                                                                <a class="button1_text" href="<%= item.raw_url %>" style="text-decoration: none; color: #ffffff;">
                                                                read more
                                                            </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>

                                                            <td class="nomobile" width="20"></td>

                                                            <td class="one_half1" width="370">
                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="mobile_centered_table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center">
                                                                                <img src="<%= item.top_image %>" width="370" height="270" border="0" style="display: block;" alt="article image">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>

                                            <td class="padding" style="width: 20px;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>


    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" width="800px" bgcolor="#f9f9f9" style="max-width: 800px;">
        <tbody>
            <tr>
                <td class="section_h" height="30"></td>
            </tr>
        </tbody>
    </table>

<% end %>
    <!--end blog-->

    <!-- full blog -->
    <table id="bg5" align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 800px; max-width: 800px; background-image: url(img/bg5.jpg); background-color: rgb(249, 249, 249); background-size: 100%; background-position: 50% 0%; background-repeat: no-repeat;">
        <tbody>
            <tr>
                <td>
                    <!--[if gte mso 9]>
  <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:800px;height:255px;">
    <v:fill type="tile" src="bg5.jpg" color="#f9f9f9" />
    <v:textbox inset="0,0,0,0">
  <![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td class="content">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="padding" style="width: 20px;">
                                                </td>

                                                <td class="content_row" align="center" style="width: 760px;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="section_h" height="65"></td>
                                                            </tr>

                                                            <tr>
                                                                <td align="center">
                                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="button" data-editable="" height="40" width="132" style="font-family: 'Montserrat', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: 700; text-transform: uppercase; border-radius: 20px; border: 2px solid #ffffff;">
                                                                                    <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                                                    Go To Slyp
                                                                </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="section_h" height="70"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                                <td class="padding" style="width: 20px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--[if gte mso 9]>
    </v:textbox>
  </v:rect>
  <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>

    <!--end full blog-->


    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 800px; max-width: 800px; background-color: rgb(255, 255, 255);">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td class="content">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="padding" style="width: 20px;">
                                                </td>

                                                <td class="content_row" align="center" style="width: 760px;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>

                                                            <tr>
                                                                <td class="one_half" width="380">
                                                                    <table cellpadding="0" cellspacing="0" border="0" class="mobile_centered_table">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" data-editable="" class="dark_text" style="font-family: 'Lato', sans-serif; font-size: 12px; color: #505050; text-align: center; font-weight: 700; text-transform: none;">
                                                                                    Copyright Slyp.io 2015
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>

                                                                <td class="one_half" width="380">
                                                                    <table cellpadding="0" cellspacing="0" border="0" class="mobile_centered_table" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="tabtxt" data-editable="" align="center" style="color:#818181; font-weight: 400; font-size: 12px; font-family: 'Lato', sans-serif; text-transform: none; line-height: 12px;text-align: right;">
                                                                                    <a href="#" style="text-decoration: none; color: #818181;">
                                                                                        <span class="dark_text">
                                                                        Unsubscribe
                                                                    </span>
                                                                                    </a>
                                                                                </td>

                                                                                <td class="tabtxt" data-editable="" align="center" style="color:#fe415d; font-weight: 400; font-size: 12px; font-family: 'Lato', sans-serif; text-transform: none; line-height: 12px; text-align: right;">
                                                                                    <a href="#" style="text-decoration: none; color: #fe415d;">
                                                                                        <span class="red_heading">
                                                                        slypsupport@slyp.io
                                                                    </span>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                                <td class="padding" style="width: 20px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>